@charset "UTF-8";

@font-face {
  font-family: "continium";
  src:url("fonts/continium.eot");
  src:url("fonts/continium.eot?#iefix") format("embedded-opentype"),
    url("fonts/continium.woff") format("woff"),
    url("fonts/continium.ttf") format("truetype"),
    url("fonts/continium.svg#continium") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "continium" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ctm-"]:before,
[class*=" ctm-"]:before {
  font-family: "continium" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ctm-user:before {
  content: "\61";
}
.ctm-setting:before {
  content: "\62";
}
.ctm-validated:before {
  content: "\63";
}
.ctm-library:before {
  content: "\64";
}
.ctm-search-2:before {
  content: "\67";
}
.ctm-help:before {
  content: "\69";
}
.ctm-setting-bar:before {
  content: "\6a";
}
.ctm-component:before {
  content: "\6f";
}
.ctm-add:before {
  content: "\70";
}
.ctm-previous:before {
  content: "\71";
}
.ctm-library-2:before {
  content: "\74";
}
.ctm-hash:before {
  content: "\77";
}
.ctm-file:before {
  content: "\78";
}
.ctm-img-crop:before {
  content: "\79";
}
.ctm-interaction-play:before {
  content: "\42";
}
.ctm-interaction-stop:before {
  content: "\43";
}
.ctm-arrow-right:before {
  content: "\46";
}
.ctm-search:before {
  content: "\47";
}
.ctm-vp-lg:before {
  content: "\48";
}
.ctm-vp-sm-1:before {
  content: "\49";
}
.ctm-android-globe:before {
  content: "\4e";
}
.ctm-user-2:before {
  content: "\50";
}
.ctm-remove-2:before {
  content: "\52";
}
.ctm-text-cut:before {
  content: "\53";
}
.ctm-card:before {
  content: "\56";
}
.ctm-star:before {
  content: "\57";
}
.ctm-no-previous:before {
  content: "\58";
}
.ctm-sass:before {
  content: "\59";
}
.ctm-css:before {
  content: "\5a";
}
.ctm-text-copy:before {
  content: "\30";
}
.ctm-add-2:before {
  content: "\31";
}
.ctm-chat:before {
  content: "\34";
}
.ctm-map:before {
  content: "\35";
}
.ctm-remove:before {
  content: "\36";
}
.ctm-share:before {
  content: "\37";
}
.ctm-interaction:before {
  content: "\38";
}
.ctm-img:before {
  content: "\39";
}
.ctm-search-3:before {
  content: "\22";
}
.ctm-blockquote:before {
  content: "\24";
}
.ctm-wordpress:before {
  content: "\26";
}
.ctm-html:before {
  content: "\27";
}
.ctm-google:before {
  content: "\28";
}
.ctm-help-2:before {
  content: "\29";
}
.ctm-interaction-o:before {
  content: "\2a";
}
.ctm-social-google-outline:before {
  content: "\2e";
}
.ctm-right:before {
  content: "\2f";
}
.ctm-guide:before {
  content: "\3a";
}
.ctm-align-bottom:before {
  content: "\3c";
}
.ctm-align-horizontal:before {
  content: "\3d";
}
.ctm-align-left:before {
  content: "\3e";
}
.ctm-align-right:before {
  content: "\3f";
}
.ctm-align-top:before {
  content: "\40";
}
.ctm-align-vertical:before {
  content: "\5b";
}
.ctm-random:before {
  content: "\5d";
}
.ctm-check:before {
  content: "\5e";
}
.ctm-grid:before {
  content: "\5f";
}
.ctm-firstchild:before {
  content: "\60";
}
.ctm-authentification:before {
  content: "\7b";
}
.ctm-duplicate-1:before {
  content: "\7c";
}
.ctm-text-capitalize:before {
  content: "\7d";
}
.ctm-text-align-center:before {
  content: "\7e";
}
.ctm-text-align-justify:before {
  content: "\5c";
}
.ctm-text-align-left:before {
  content: "\e000";
}
.ctm-text-align-right:before {
  content: "\e001";
}
.ctm-text-bold:before {
  content: "\e002";
}
.ctm-text-color:before {
  content: "\e003";
}
.ctm-indent-decrease:before {
  content: "\e004";
}
.ctm-indent-increase:before {
  content: "\e005";
}
.ctm-text-italic:before {
  content: "\e006";
}
.ctm-line-height:before {
  content: "\e007";
}
.ctm-list-unordered:before {
  content: "\e008";
}
.ctm-list-ordered:before {
  content: "\e009";
}
.ctm-blockquote-2:before {
  content: "\e00a";
}
.ctm-text-size:before {
  content: "\e00b";
}
.ctm-text-decoration:before {
  content: "\e00c";
}
.ctm-text-underline:before {
  content: "\e00d";
}
.ctm-ang-left:before {
  content: "\e00e";
}
.ctm-ang-right:before {
  content: "\e00f";
}
.ctm-vp-md:before {
  content: "\e011";
}
.ctm-more-v:before {
  content: "\e012";
}
.ctm-more-h:before {
  content: "\e013";
}
.ctm-move:before {
  content: "\e014";
}
.ctm-to-first-child:before {
  content: "\e015";
}
.ctm-to-last-child:before {
  content: "\e016";
}
.ctm-to-parent:before {
  content: "\e017";
}
.ctm-gradient:before {
  content: "\e018";
}
.ctm-project:before {
  content: "\e019";
}
.ctm-border:before {
  content: "\e01a";
}
.ctm-download-alt:before {
  content: "\e01b";
}
.ctm-vp-sm:before {
  content: "\e01d";
}
.ctm-vp-xs:before {
  content: "\e01e";
}
.ctm-loader:before {
  content: "\e01f";
}
.ctm-radius:before {
  content: "\e020";
}
.ctm-touch:before {
  content: "\e021";
}
.ctm-select:before {
  content: "\e022";
}
.ctm-redo:before {
  content: "\e025";
}
.ctm-undo:before {
  content: "\e026";
}
.ctm-duplicate:before {
  content: "\e027";
}
.ctm-fullscreen-exit:before {
  content: "\e028";
}
.ctm-fullscreen:before {
  content: "\e029";
}
.ctm-crop:before {
  content: "\65";
}
.ctm-calendar:before {
  content: "\66";
}
.ctm-globe:before {
  content: "\68";
}
.ctm-package:before {
  content: "\6b";
}
.ctm-js:before {
  content: "\6c";
}
.ctm-stat:before {
  content: "\6d";
}
.ctm-screen-rotation:before {
  content: "\6e";
}
.ctm-ang-down:before {
  content: "\72";
}
.ctm-color:before {
  content: "\73";
}
